*, :before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


.score {
    text-align: center;    
    padding: 2rem;
    color: #ffffff;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

button {
    border: none;
    padding: 1.2rem;
}
#start {
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}

#green {
    margin-bottom: 1rem;
    background-color: green;
}

#yellow {
    background-color: yellow;
    margin-bottom: 1rem;
}

#blue {
    background-color: blue;
    margin-bottom: 1rem;
}

#red {
    background-color: red;

}

.addGreenBorder {
    border: 3px greenyellow solid;
}

.addYellowBorder {
    border: 3px orange solid;
}

.addBlueBorder {
    border: 3px lightblue solid;
}

.addRedBorder {
    border: 3px lightcoral solid;
}



.green-sec{
    fill: #0BC864;
}
.green-ani{
animation: green-button .4s linear .3s;
}

.blue-sec {
    fill: #0A7EC7;
}

.blue-ani{
    animation: blue-button .4s linear .3s;
}

.yellow-sec {
    fill: #FFE91F;
}

.yellow-ani{
    animation: yellow-button .4s linear .3s;
}

.red-sec{
    fill: #C7130A;
}

.red-ani{
    animation: red-button .4s linear .3s; 
}

.example{
    width: 600px;
}

@keyframes green-button {
    from {fill: #0BC864;}
    to {fill: #FFFFFF;}
  }

  @keyframes yellow-button {
    from {fill: #FFE91F;}
    to {fill: #FFFFFF;}
  }

  @keyframes blue-button {
    from {fill: #0A7EC7;}
    to {fill: #FFFFFF;} 
  }

  @keyframes red-button {
    from {fill: #C7130A;}
    to {fill: #FFFFFF;} 
  }
  
.svg-container { 
    display: flex;
    justify-content: center;
    position: relative;
}


.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40%;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.main-logo {
    
    width: 200px;
    justify-self: center;

}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    margin-top: 10%;
}


input {
    
    border-radius: 20px;
    padding: 0.8rem;
    font-size: 1.2rem;
    justify-self: center;
    border: none;
    background-color: #E5E5E5;
}
input::placeholder{
    color: #000000;
}

.main-title, .sub-title {
    justify-self: center;
}

.position-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.submit-button{
    /* display: inline-block;*/
    justify-self: center;
    padding: 1.2rem;
}

.submit-button button {
    border-radius: 20px;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.easy-button{
    width: 40px;
}

.letterE {
    position: absolute;
    left: 228px;
    top: 332px;
}

.letterM {
    position: absolute;
    top: 332px;
    left: 297px;
}

.letterE:hover, .letterM:hover {
    color: #E5E5E5;
}

.svg-container h2 {
    font-size: 1.3rem;
}

.score-message h2 {
    font-size: 2rem;
} 

#redhover:hover, #redhover:visited {
    fill: white;
}

.buttons {
    position:absolute;
    top: 57%;
    display: flex;
    width: 20%;
    margin-left: 2rem;
    
}

.restartButtons {
    position: absolute;
    top: 34%;
    display: flex;
    margin-left: 2.3rem;
}

.clickButton {
    width: 55%;
}

.easyButton, .mediumButton, .hardButton, .restartButton {
    position: relative;
    display: inline-block;
}

.easyButton .clickButton-top, .mediumButton .clickButton-top, .hardButton .clickButton-top, .restartButton .clickButton-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.easyButton:hover .clickButton-top, .mediumButton:hover .clickButton-top, .hardButton:hover .clickButton-top, .restartButton:hover .clickButton-top{
    display: inline;
}