*, :before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: grey;
}


.score {
    text-align: center;    
    padding: 2rem;
    color: #ffffff;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button {
    border: none;
    padding: 1.2rem;
}
#start {
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}

#green {
    margin-bottom: 1rem;
    background-color: green;
}

#yellow {
    background-color: yellow;
}

.addGreenBorder {
    border: 3px greenyellow solid;
}

.addYellowBorder {
    border: 3px orange solid;
}